:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-/* (with 75% opacity for lightbox background) */: hsl(0, 0%, 0%);
  --Neutral-White-: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
}

.main-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
}
