:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-: hsl(0, 0%, 0%);
}

.Main-Cart {
  display: flex;
  border: 1px solid rgb(231, 231, 231);
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--Light-grayish-blue);
  width: 300px;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  top: 150px;
  left: 73%;
}

.Main-Cart img {
  width: 40px;
  border-radius: 5px;
}

.Trash-container img {
  width: 20px;
}

.Main-image {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product-data {
  grid-column: 2/3;
  text-align: center;
}

.Trash-container {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.Checkout {
  grid-row: 2/3;
  grid-column: 1/4;
  border-radius: 10px;
  font-weight: 700;
  width: 90%;
  height: 50px;
  background-color: var(--Orange);
  border: none;
  color: var(--Very-dark-blue);
  cursor: pointer;
}

.Checkout:hover {
  background-color: var(--Pale-orange);
}
