.company-name {
    color: var(--Dark-grayish-blue);
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
  .product-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
  }
  
  .product-description {
    color: var(--Dark-grayish-blue);
    line-height: 30px;
  }
  
  .discount-price {
    font-weight: 700;
    font-size: 30px;
  }
  
  .discount {
    color: var(--White);
    background-color: var(--Black-);
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    margin-left: 10px;
  }
  
  .original-price {
    color: var(--Dark-grayish-blue);
    font-size: 12px;
    font-weight: 700;
    text-decoration: line-through;
  }
  .button-minus {
    background: none;
    border: none;
    color: inherit;
    background-color: transparent;
  }
  .button-plus {
    background: none;
    border: none;
    color: inherit;
    background-color: transparent;
  }
  .iconMinus {
    padding-bottom: 3px;
  }
  .spanButtons {
    background-color: var(--Grayish-blue);
    gap: 20px;
    display: flex;
    width: 100px;
    height: 25px;
  }