:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-/* (with 75% opacity for lightbox background) */: hsl(0, 0%, 0%);
}
.selected-image {
    width: 440px;
    height: 450px;
    border-radius: 20px;
  }
  .mini-images {
    width: 400px;
    gap: 30px;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 30px;
    flex-flow: row nowrap;
    padding-top: 30px;
  }
  
  .item {
    border-radius: 10px;
    width: 85px;
    border: solid rgb(255, 255, 255) 3px;
  }


  .item:hover{
    opacity: 50%;
    border: solid var(--Orange) 3px;
  }