.name-cart {
  display: flex;
}

.cart-container {
  padding: 20px;
/*   width: 250px;
  height: 250px; */
  box-shadow: 0 0 5px var(--neutral-grayish-blue);
  background-color: var(--neutral-white);
  position: absolute;
  right: 200px;
  top: 70px;
  border-radius: 10px;
}
