.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 100px;
}
.selected-image {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.mini-images {
  width: 500px;
  gap: 10px;
  display: flex;
  flex-flow: row nowrap;
}
.item{
  border-radius: 10px;
  width: 118px;
}

